/* ============ THEMES ============ */

body {
  font-family: 'Roboto Mono', monospace;
  color: var(--text-color);
  background-color: var(--bkg-color);
  min-width: 360px;
  margin: 0;
}

::selection {
  background: var(--highlight-color);
}

body {
  --text-color: #212121;
  --bkg-color: white;
  --primary-color: #b81db8;
  --primary-light-color: #ff98ff;
  --secondary-dark-color: #865900;
  --secondary-color: #FFC857;
  --secondary-light-color: #FFC857;
  --highlight-color: #ff98ff;
}

body.dark-theme {
  --text-color: white;
  --bkg-color: #212121;
  --primary-color: #C52184;
  --primary-light-color: #E574BC;
  --secondary-dark-color: #865900;
  --secondary-color: #FFC857;
  --secondary-light-color: #FFC857;
  --highlight-color: #E574BC;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: white;
    --bkg-color: #212121;
    --primary-color: #C52184;
    --primary-light-color: #E574BC;
    --secondary-dark-color: #865900;
    --secondary-color: #FFC857;
    --secondary-light-color: #FFC857;
    --highlight-color: #E574BC;
  }

  body.light-theme {
    --text-color: #212121;
    --bkg-color: white;
    --primary-color: #b81db8;
    --primary-light-color: #ff98ff;
    --secondary-dark-color: #865900;
    --secondary-color: #FFC857;
    --secondary-light-color: #FFC857;
    --highlight-color: #ff98ff;
  }
}

p {
  margin: 10px 0
}

/* ============ UTILITIES ============ */

.primary {
  color: var(--primary-color);
}
.primary-light {
  color: var(--primary-light-color);
}
.secondary {
  color: var(--secondary-color);
}
.secondary-light {
  color: var(--secondary-color);
}
.secondary-dark {
  color: var(--secondary-color);
}
.dark-blue {
  color: #7d6ddd;
}

/* ============ BUTTON ============ */

button {
  font-family: 'Roboto Mono', monospace;
  padding: 0.5em;
  background-color: white;
  color: black;
  cursor: pointer;
}

button:hover, button:focus-visible {
  outline: none;
  outline-offset: -2px;
  border-top: var(--primary-color) solid 2px;
  border-left: var(--primary-color) solid 2px;
  border-right: var(--primary-light-color) solid 2px;
  border-bottom: var(--primary-light-color) solid 2px;
}

button:active {
  border-top: var(--primary-light-color) solid 2px;
  border-left: var(--primary-light-color) solid 2px;
  border-right: var(--primary-color) solid 2px;
  border-bottom: var(--primary-color) solid 2px;
}

/* ============ INPUT ============ */

input {
  font-family: 'Roboto Mono', monospace;
  padding: 0.5em;
  background-color: white;
  color: black;
}

input:focus {
  outline: none;
  outline-offset: -2px;
  border-top: var(--primary-color) solid 2px;
  border-left: var(--primary-color) solid 2px;
  border-right: var(--primary-light-color) solid 2px;
  border-bottom: var(--primary-light-color) solid 2px;
}

/* ============ LINKS ============ */

a {
  color: var(--text-color)
}

a:hover {
  color: var(--secondary-light-color)
}

/* ============ SECTIONs ============ */

.main-section-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media(max-width: 768px) {
  .main-section-content {
    align-items: flex-start;
  }
}

.main-section-content h3 {
  margin-bottom: 0;
}

section {
  padding: 1em 25rem;
  margin-bottom: 1em;
  padding-top: 1em;
}

section h1  {
  margin: 0;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

section h2 {
  margin: 0;
  margin-bottom: 0.5em;
}

section article {
  margin-bottom: 2em;
}


@media(max-width: 1400px) {
  section {
    padding: 10px 5em;
  }
}

@media(max-width: 768px) {
  section {
    padding: 10px 0.5em;
  }

  section h2 {
    margin-bottom: 0.5em;
  }
}

section.section-contrast h1 {
  color: var(--background-color);
  text-transform: uppercase;
  justify-content: center;
  display: flex;
}

section.section-normal h1 {
  color: var(--primary-light-color);
  justify-content: center;
  display: flex;
  margin-bottom: 1em;
}

section#main {
  display: flex;
  min-height: 457px;
  justify-content: center;
  align-items: center;
}

.section-contrast {
  background-color: var(--secondary-light-color);
  color: #212121;
}

.section-normal {
  background-color: var(--bkg-color);
  color: var(--text-color);
}

.logo-image {
  width: 75px;
  height: 75px;
  padding-right: 2em;
  z-index: -1;
}